<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable({{ chartData | safe}}, true);

            var options = {
                title: '',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

            chart.draw(data, options);
            }

    </script>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <!-- <img class="navbar-brand col-sm-3 col-md-1" src="{{ url_for('static', filename='/image/signature.png') }}"> -->
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bitnara's Hompage</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item text-nowrap mr-3">
                <a class="nav-link" href="/user">회원 정보</a>
            </li>
            <li class="nav-item text-nowrap mr-2">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/board">
                                <!-- <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span> -->
                                <i class="fa fa-list-alt" aria-hidden="true"></i> board
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stock2">
                                <i class="fa fa-table" aria-hidden="true"></i> stock
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/device_list"> 
                                <i class="fa fa-laptop" aria-hidden="true"></i> Devicelist
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('getTopology')}}"> 
                                <i class="fa fa-connectdevelop" aria-hidden="true"></i> Topology
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sysinfo')}}"> 
                                <i class="fa fa-info" aria-hidden="true"></i> system info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('live_resource')}}"> 
                                <i class="fas fa-chart-line"></i> system live reourece
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="container-fluid">
                    <h2 style="text-align: center;">{{stocks[0].name}} 일별 차트 </h2>
                    <div class="row">
                        <div class="col-8">
                            <div id="chart_div" style="width: 900px; height: 500px;"></div>
                        </div>
                        <div class="col-4 mt-4">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>날짜</th>
                                        <th>최저가</th>
                                        <th>시가</th>
                                        <th>정가</th>
                                        <th>고가</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in chartData %}
                                    <tr>
                                        <td>{{data[0]}}</td>
                                        <td>{{data[1]}}</td>
                                        <td>{{data[2]}}</td>
                                        <td>{{data[3]}}</td>
                                        <td>{{data[4]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="{{url_for('stock2', page=page)}}{{search_params}}" class="btn btn-secondary btn-sm">목록</a>
                <a href="{{url_for('Chartdownload', name=stocks[0].name)}}" class="btn btn-success btn-sm">excel</a>
            </main>
        </div>
    </div>
 
</body>

</html>