<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-minus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
          </svg>
            <!-- <a class="navbar-brand" href="#">Board</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/list">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/support">문의</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline"  action="/search" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="name">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" onclick="location.href='/search'">Submit</button>
                </div>
              </form>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron text-center mb-4">
                    <h2>게시판</h2> 
                </div>
            </div>
        </div>
      </div>

    <!-- <div class="container-fluid">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th colspan="2">게시판 글 보기</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
            <tr>
              <td class="col-2">이름</td>
              <td>{{row.name}}</td>
            </tr>
            <tr>
              <td class="col-2">제목</td>
              <td>{{row.title}}</td>
            </tr>
            <tr>
              <td class="col-2">내용</td>
              <td>
                {%for i in row.content.split('\n')%}
                {{i}}<br>
                {%endfor%}
              </td>
            </tr>
          {%endfor%}
        </tbody>
      </table>
    </div> -->

    {% for row in rows %}
    <div class="container-fluid mb-2">
      <form method="POST">
        <div class="form-group">
          <label for="name"> 이름 </label>
          <input type="text" class="form-control" name="name" id="name" , value={{row.name}} disabled>
        </div>
        <div class="form-group">
          <label for="title"> 제목 </label>
          <input type="text" class="form-control" name="title" id="title" , value={{row.title}} disabled>
        </div>
        <div class="from-group">
          <label for="content"> 내용 </label>
          <textarea class="form-control" name="content" id="content" rows="10" disabled>{{row.content}}</textarea>
        </div>
      </form>
    </div>
    {%endfor%}

    <div class="container-fluid">
      {% for row in rows %}
      <!-- <button class="btn btn-secondary btn-sm" onclick="location.href='/list'">목록</button>
      <button class="btn btn-secondary btn-sm" onclick="location.href='/detail/{{row.id}}/update'">수정</button> -->
      <a href="{{url_for('index', page = page)}}" class="btn btn-secondary btn-sm">목록</a>
      <a href="{{url_for('update', id=row.id, page = page)}}" class="btn btn-secondary btn-sm">수정</a>
      <!-- <button class="btn btn-secondary btn-sm" onclick="location.href='/detail/{{rows[0].title}}/delete'">삭제</button> -->
      <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">삭제</button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">게시물 삭제</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              정말 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
              <a href="{{url_for('delete', id=row.id)}}" class="btn btn-primary">삭제하기</a>
              <!-- <button type="button" class="btn btn-primary" onclick="location.href='/detail/{{row.id}}/delete'">삭제하기</button> -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <a href="#" class="btn btn-secondary">abc</a> -->
    
</body>
</html>