<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <!-- <img class="navbar-brand col-sm-3 col-md-1" src="{{ url_for('static', filename='/image/signature.png') }}"> -->
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Bitnara's Hompage</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item text-nowrap mr-3">
                <a class="nav-link" href="/user">회원 정보</a>
            </li>
            <li class="nav-item text-nowrap mr-2">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/board">
                                <!-- <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span> -->
                                <i class="fa fa-list-alt" aria-hidden="true"></i> board
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stock2">
                                <i class="fa fa-table" aria-hidden="true"></i> stock
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('stock_table')}}">
                                <i class="fa fa-table" aria-hidden="true"></i> stock table
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/device_list">
                                <i class="fa fa-laptop" aria-hidden="true"></i> Devicelist
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('getTopology')}}">
                                <i class="fa fa-connectdevelop" aria-hidden="true"></i> Topology
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sysinfo')}}">
                                <i class="fa fa-info" aria-hidden="true"></i> system info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('live_resource')}}">
                                <i class="fas fa-chart-line"></i> system live reourece
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-3">Device list</h2>
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        {% for title_detail in title_list %}
                                        <th>{{title_detail}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for device_data in device_list %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{device_data[0]}}</td>
                                        <td><a
                                                href="{{url_for('devicedetail', id=loop.index)}}?{{search_params}}">{{device_data[1]}}</a>
                                        </td>
                                        {% for device_detail in device_data[2:] %}
                                        <td>{{device_detail}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="container-fluid">
                            <div class="d-flex justify-content-center">
                                <div class="mb-3">
                                    <form class="form-inline" action="{{url_for('devicelist')}}" method="GET">
                                        <div class="form-group">
                                            <select class="form-control" id="category" name="category">
                                                <option value="none">===선택===</option>
                                                {% for title in title_list %}
                                                <option value="{{title}}" {%if title==request.args.get("category") %}
                                                    selected {% endif %}>
                                                    {{title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            {% if request.args.get('keyword') == None %}
                                            <input type="text" class="form-control" placeholder="Search" name="keyword">
                                            {% else %}
                                            <input type="text" class="form-control" placeholder="Search" name="keyword"
                                                value="{{request.args.get('keyword')}}">
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default">검 색</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <a href="{{url_for('devicedownload')}}?{{search_params}}"
                                    class="btn btn-success btn-sm">excel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="container"></div>
            </main>
        </div>
    </div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
    var chart1 = {{ chart | safe }};
    var ID = Object.keys(chart1);
    var count = Object.values(chart1);
    var getData = function() {
                    var data = [];
                    for (var i=0; i<ID.length; i++){
                        data.push({'name': ID[i], 'y':count[i]});
                    }
                    return data;
    }
    var data = getData();
    console.log(data.length);
    function pieChart() {
        // Set up the chart
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'pie',
                margin: [0, 5, 5, 5],
                spacingRight: 0,//차트 우측 여백 지정(default 10)
                style: {
                    color: '#444',
                    fontFamily: 'notoSans',
                    fontWeight: '400',
                },
                backgroundColor: 'rgba(255, 255, 255, 0)'
            },
            credits: { enabled: false }, //highchart 워터마크 숨김처리
            title: {
                text: '',
            },
            legend: {
                layout: 'vertical',//범례 세로 정렬 시 vertical로 지정.(default horizontal)
                align: 'right',
                verticalAlign: 'middle',
                x: -4,
                y: -2,
                itemMarginTop: 10,//범례 margin top 지정(bottom도 존재.)
                itemMarginBottom: 10,
                symbolHeight: 10,
                symbolWidth: 10,
                symbolPadding: 5,
                symbolRadius: 0,
                itemStyle: {
                    color: '#444',
                    fontSize: '14px',
                    fontWeight: 'normal'
                }
            },
            plotOptions: {
                pie: {
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        distance: -20,
                    },
                    showInLegend: true 
                },
            },
            series: [{
                // name:'ID',
                colorByPoint: true,
                type: 'pie',
                // innerSize: '50%', //도넛 차트 지정시 내부 구멍 너비를 설정(설정 안하면 기본 파이 차트)
                data: data,
                dataLabels: {
                    enabled: true,
                    format: '<span class="d-label">{point.name}</span> : {y}',
                    align: 'center',
                    // 세로 위치 지정
                    // y: -30,
                    // x: -40,
                    style: {
                        fontSize: '13px',
                        fontWeight: '400'
                    }
                }
            }]
        });
    }
pieChart()
</script>
</body>

</html>