<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type='text/css'>
        th {border:1px gray solid; color:white;} 
        td {border:1px gray solid; color:white;}
        table {border-collapse:collapse; text-align: center;}
    </style>
</head>
<body>
    <table bgcolor="#31353D" width="800px" height="1500px">
        <thead>
            <th width="100">이름</th>
            <th width="150">side bar - 108px</th>
            <th width="250">login page - 200px</th>
        </thead>
        <tbody>
            <tr>
                <td> origin </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/108w/origin_108w.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/200w/origin_200w.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample_logo1 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/108w/sample_logo1_108w.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/200w/sample_logo1_200w.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample_logo2 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/108w/sample_logo2_108w.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/200w/sample_logo2_200w.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample_logo3 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/108w/sample_logo3_108w.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/200w/sample_logo3_200w.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample_logo4 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/108w/sample_logo4_108w.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/200w/sample_logo4_200w.png') }}">
                </td>
            </tr>
            <!-- <tr>
                <td> sample_logo5 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/108w/sample_logo5_108w.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/200w/sample_logo5_200w.png') }}">
                </td>
            </tr> -->
            <tr>
                <td> sample_logo5 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/108w/sample_logo6_108w.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/200w/sample_logo6_200w.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample1 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/sample_logo1_.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/sample_logo1_.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample2 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/sample_logo2_.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/sample_logo2_.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample3 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/sample_logo3_.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/sample_logo3_.png') }}">
                </td>
            </tr>
            <tr>
                <td> sample4 </td>
                <td> 
                    <img width="108px" src="{{ url_for('static', filename='/image/sample_logo4.png') }}">
                </td>
                <td>
                    <img width="200px" src="{{ url_for('static', filename='/image/sample_logo4.png') }}">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>