<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>

    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" type="text/css"
        rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.css" />
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <!-- <img class="navbar-brand col-sm-3 col-md-1" src="{{ url_for('static', filename='/image/signature.png') }}"> -->
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Bitnara's Hompage</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item text-nowrap mr-3">
                <a class="nav-link" href="/user">회원 정보</a>
            </li>
            <li class="nav-item text-nowrap mr-2">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/board">
                                <!-- <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span> -->
                                <i class="fa fa-list-alt" aria-hidden="true"></i> board
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stock2">
                                <i class="fa fa-table" aria-hidden="true"></i> stock
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('stock_table')}}">
                                <i class="fa fa-table" aria-hidden="true"></i> stock table
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('devicelist')}}">
                                <i class="fa fa-laptop" aria-hidden="true"></i> Devicelist
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('getTopology')}}">
                                <i class="fa fa-connectdevelop" aria-hidden="true"></i> Topology
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sysinfo')}}">
                                <i class="fa fa-info" aria-hidden="true"></i> system info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('live_resource')}}">
                                <i class="fas fa-chart-line"></i> system live reourece
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h2 class="mb-3" id=title></h2>
                <table class="diaplay dataTable dtr-inline" id="stocktable" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <!-- <th>Code</th> -->
                            <th>종목명</th>
                            <th>현재가</th>
                            <th>전일비</th>
                            <th>등락률</th>
                            <th>시가총액</th>
                            <th>상장주식수</th>
                            <th>액면가</th>
                            <th>거래량</th>
                            <!-- <th>PER</th> -->
                            <!-- <th>ROE</th>
                            <th>ROF</th> -->
                        </tr>
                    </thead>
                </table>
                <div id='row_index'></div>
            </main>
        </div>
    </div>
    <script>
        function getCurrentDate() {
            var date = new Date();
            var year = date.getFullYear().toString();
            var month = date.getMonth() + 1;
            month = month < 10 ? '0' + month.toString() : month.toString();
            var day = date.getDate();
            day = day < 10 ? '0' + day.toString() : day.toString();
            return year + month + day;
        }
        // console.log(getCurrentDate());
        var now = getCurrentDate()
        document.getElementById('title').innerHTML = '국내증시_' + now

        $(function () {
            var table = $("#stocktable").DataTable({
                "pageLength": 10,
                responsive: true,
                ajax: {
                    url: "/stocktabledata",
                    type: "GET",
                },
                rowId: 'staffId',
                columns: [
                    { data: "id" },
                    // { data: "Code" },
                    {
                        data: "name",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                data = '<a href="/stock2/chart?code=' + row.Code + '&name='+ row.name +'">' + row.name + '</a>';
                            }
                            return data;
                        }
                    },
                    { data: "nowVal" },
                    { data: "PrePricenowVal" },
                    { data: "fluctuation" },
                    { data: "totalVal" },
                    { data: "stockListNum" },
                    { data: "faceVal" },
                    { data: "volume" }
                    // { data: "PER" },
                    // { data: "ROE" },
                    // { data: "ROF" },
                ],
                dom: 'Bfrtip',
                bom: true,
                buttons: [
                    {
                        extend: 'excel',
                        text: 'excel',
                        filename: 'stock_list_' + now,
                        title: 'stock list_' + now
                    },
                    {
                        extend: 'copy',
                        text: 'copy',
                        title: 'stock list_' + now
                    },
                    {
                        extend: 'print',
                        text: 'print',
                        title: 'stock list_' + now
                    },
                ]
            });
            $('#stocktable tbody').on('click', 'tr', function () {
                // var row_index = table.row(this).index();
                // console.log(row_index);
                location.herf = ''
            });
            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
</body>

</html>