<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <!-- <img class="navbar-brand col-sm-3 col-md-1" src="{{ url_for('static', filename='/image/signature.png') }}"> -->
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bitnara's Hompage</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item text-nowrap mr-3">
                <a class="nav-link" href="/user">회원 정보</a>
            </li>
            <li class="nav-item text-nowrap mr-2">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/board">
                                <!-- <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span> -->
                                <i class="fa fa-list-alt" aria-hidden="true"></i> board
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stock2">
                                <i class="fa fa-table" aria-hidden="true"></i> stock
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/device_list"> 
                                <i class="fa fa-laptop" aria-hidden="true"></i> Devicelist
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('getTopology')}}"> 
                                <i class="fa fa-connectdevelop" aria-hidden="true"></i> Topology
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sysinfo')}}"> 
                                <i class="fa fa-info" aria-hidden="true"></i> system info
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-3">국내증시</h2>
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>종목명</th>
                                        <th>현재가</th>
                                        <th>등락률</th>
                                        <th>거래량</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stock in stocks.items %}
                                    <tr>
                                        <td>{{stock.id}}</td>
                                        <td><a href='{{url_for("CandleChart", code=stock.Code, page=page)}}{{search_params}}'>{{stock.name}}</a></td>
                                        <td>{{stock.PrePricenowVal}}</td>
                                        <td>{{stock.fluctuation}}</td>
                                        <td>{{stock.volume}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="container-fluid">
                            <div class="d-flex justify-content-center">
                                <div class="mb-3">
                                    <form class="form-inline" action="{{url_for('stock2', page = page)}}" method="GET">
                                        <div class="form-group">
                                            {% if request.args.get('keyword') == None %}
                                            <input type="text" class="form-control" placeholder="Search" name="keyword">
                                            {% else %}
                                            <input type="text" class="form-control" placeholder="Search" name="keyword"
                                                value="{{request.args.get('keyword')}}">
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default">검 색</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" data-page="{{ stocks.prev_num }}" href="{{ prev_num  }}">&laquo;</a>
                        </li>
                        {% for page_num in stocks.iter_pages() %}
                        {% if page_num %}
                        {% if page_num != stocks.page %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ page_num }}"
                                href="?page={{ page_num }}{{search_params}}">{{
                                page_num
                                }}</a>
                        </li>
                        {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ page_num }}</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li class="disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ stocks.next_num }}" href="{{ next_num }}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <div>
                    <a href="{{url_for('stockdownloads')}}?keyword={{keyword}}" class="btn btn-success btn-sm">excel</a>
                </div>
            </main>

        </div>
    </div>
</body>

</html>