<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <!-- <img class="navbar-brand col-sm-3 col-md-1" src="{{ url_for('static', filename='/image/signature.png') }}"> -->
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Bitnara's Hompage</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item text-nowrap mr-3">
                <a class="nav-link" href="/user">회원 정보</a>
            </li>
            <li class="nav-item text-nowrap mr-2">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/board">
                                <!-- <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span> -->
                                <i class="fa fa-list-alt" aria-hidden="true"></i> board
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stock2">
                                <i class="fa fa-table" aria-hidden="true"></i> stock
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('stock_table')}}">
                                <i class="fa fa-table" aria-hidden="true"></i> stock table
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/device_list"> 
                                <i class="fa fa-laptop" aria-hidden="true"></i> Devicelist
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('getTopology')}}"> 
                                <i class="fa fa-connectdevelop" aria-hidden="true"></i> Topology
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sysinfo')}}"> 
                                <i class="fa fa-info" aria-hidden="true"></i> system info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('live_resource')}}"> 
                                <i class="fas fa-chart-line"></i> system live reourece
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container-fluid" id="container"></div>
                    </div>
                </div>
                <figure class="highcharts-figure">
                    <div class="row">
                        <div class="container-fluid" id="gauge-container"></div>
                    </div>
                </figure>
                <!-- <button id="button" class="autocompare">y축 크게</button>
                <button id="button1" class="autocompare">y축 작게</button> -->
            </main>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/static/js/highcharts.js"></script>
</body>

</html>