<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>

    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" type="text/css"
        rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.css" />
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>

    <style>
        li {
            margin-left: 1px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <!-- <img class="navbar-brand col-sm-3 col-md-1" src="{{ url_for('static', filename='/image/signature.png') }}"> -->
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Bitnara's Hompage</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('physical_topology')}}">
                                <i class="fab fa-connectdevelop"></i> create physical topology
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('createActiveList')}}">
                                <i class="fab fa-connectdevelop"></i> create Active List
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="card">
                    <h3 class="card-header">create physical topology</h3>
                    <article class="card-body">
                        <form method="POST" enctype="multipart/form-data" action="" id="topologyform">
                            <div class="form-group row">
                                <label for="Params" class="col-sm-2 col-form-label"> 생성 여부 (Y/N) </label>
                                {% for param in form.Params %}
                                <ul style="list-style: none;">
                                    <li>{{param()}} {{param.label}}</li>
                                </ul>
                                {% endfor %}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">{{form.ApNum.label}}</div>
                                <div class="col-sm-8">{{form.ApNum}}</div>
                                <!-- {{ form.ApNum.label }}
                                {{ form.ApNum }} -->
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">{{form.EdgeNum.label}}</div>
                                <div class="col-sm-8">{{form.EdgeNum}}</div>
                                <!-- {{ form.EdgeNum.label}}
                                {{ form.EdgeNum }} -->
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">{{form.ClientCount.label}}</div>
                                <div class="col-sm-8">{{form.ClientCount}}</div>
                                <!-- {{ form.ClientCount.label}}
                                {{ form.ClientCount}} -->
                            </div>
                            <div class="form-group row">
                                <label for="Params" class="col-sm-2 col-form-label"> link 연결여부 (Y/N) </label>
                                <div class="col-sm-8">{{form.rechable}}</div>
                                <!-- {{ form.rechable(class="form-control col-sm-8")}} -->
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">{{form.UnrechableNum.label}}</div>
                                <div class="col-sm-8">{{form.UnrechableNum}}</div>
                                <!-- {{ form.UnrechableNum.label(class="form-control-label col-sm-2")}}
                                {{ form.UnrechableNum(class="form-control col-sm-8")}} -->
                            </div>
                            <button type="submit" class="btn btn-secondary btn-sm">제 출</button>
                            {{ form.csrf_token }}
                        </form>
                    </article>
                </div>
            </main>
        </div>
    </div>
</body>

</html>