{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4> <a href="{% url 'flow_status_by_hostgroups' %}">{{hostgroup_detail.parentDisplay.name}}</a> > 
            <a href="{% url 'flow_status_by_hostgroup_detail' id=hostgroup_detail.id %}">{{hostgroup_detail.name}}</a> > 
            <a href="#">{{host_ip}}</a> 
        </h4>
    </div>

    
    <div class="card-deck">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">호스트 정보</h6>
            </div>
            <div class="card-body">
                <h4>IP: {{host_ip}}</h4>
                <h4>호스트 그룹: {{hostgroup_detail.name}} </h4>
                <h4>정책: {{hostgroup_detail.location}}</h4>
                <h4>Mac 주소: -- </h4>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">UDP port count
                    <a class="float-right" href="#">more</a>
                </h6>
                <p class="m-0">udp를 사용한 flow의 protocol별 개수</p>
            </div>
            <div class="card-body">
                <canvas id="UDPBarChart"></canvas>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">TCP port count
                    <a class="float-right" href="#">more</a>
                </h6>
                <p class="m-0">tcp를 사용한 flow의 protocol별 개수</p>
            </div>
            <div class="card-body">
                <canvas id="TCPBarChart"></canvas>
            </div>
        </div>
        <!-- bar chart -->
        <!-- <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Top 10 TCP Connections (last 5 min)</h6>
            </div>
            <div class="card-body">
                <div style="position:relative; height:250px;">
                    <canvas id="BarChart"></canvas>
                </div>
            </div>
        </div> -->
    </div>

    <!-- line chart -->
    <div class="card-deck">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Bps (Byte Rate) (last 5 min)
                </h6>
            </div>
            <div class="card-body">
                <canvas id="ByteChart"></canvas>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">RTT Average (last 5 min)</h6>
            </div>
            <div class="card-body">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Searched Flow (last 5 min) 
                        <a class="float-right" href="{% url 'flow_status_flow_search' %}?ip={{host_ip}}">detail search <i class="fas fa-search"></i></a>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table compact stripe text-nowrap hover" id="FlowdataTable" width="100%">
                            <thead>
                                <tr>
                                    <th class="col-1">#</th>
                                    <th>Source IP</th>
                                    <th>Source Port/Protocol</th>
                                    <th>Dest. IP</th>
                                    <th>Dest. host group</th>
                                    <th>Dest. Port/Protocol</th>
                                    <th>RTT Average</th>
                                    <th>TCP connection</th>
                                    <th>Bps</th>
                                    <th>Last active time</th>
                                    <th>more</th>
                                    <!-- <th></th> -->
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-loading display-none">
        <img src="{% static 'image/loading.gif' %}" alt="loading" />
    </div> 
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">More data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-table"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script>
    $.ajax({
        url: "{% url 'flow_status_by_hostgroup_host_detail_data' id=hostgroup_detail.id ip=host_ip%}",
        method: "GET",
        dataType: "json",
        beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        },
        complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
     })
    .done(function(data) {
        FlowTable(data.flow_results);
        // TCPConnectionCount(data.flow_results)
        RTTAverage(data.chart_results)
        ByteRate(data.chart_results)
        UDPPortCount(data.udp_list);
        TCPPortCount(data.tcp_list);
        console.log(data)
    })
    .fail(function(request,status,error) {
        alert("code = "+ request.status + " error = " + error)
    });
    function date_ascending(a, b) {
            var dateA = new Date(a.statistics.lastActiveTime).getTime();
            var dateB = new Date(b.statistics.lastActiveTime).getTime();
            return dateA > dateB ? 1 : -1;
        };
    function format ( d ) {
        return '<div class="row">'+
        '<table class="col-4 table table-bordered" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<th>전체</th>'+
            '<tr>'+
                '<td>packet Count: ' + d.statistics.packetCount + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>packet Rate: ' + parseFloat(d.statistics.packetRate.toFixed(3)) +' pps</td>'+
            '</tr>'+
            '<tr>'+
                '<td>byte Count: ' + d.statistics.byteCount + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>byte Rate: ' + parseFloat(d.statistics.byteRate.toFixed(3)) + ' bps</td>'+
            '</tr>'+
            '<tr>'+
                '<td>rtt Average: ' + d.statistics.rttAverage + ' ms</td>'+
            '</tr>'+
            '<tr>'+
                '<td>srt Average: ' + d.statistics.srtAverage + ' ms</td>'+
            '</tr>'+
            '<tr>'+
                '<td>TCP Connections: ' + d.statistics.tcpConnections + '</td>'+
            '</tr>'+
        '</table>' + 
        '<table class="col-4 table table-bordered" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<th>Source</th>'+
            '<tr>'+
                '<td>packet Count: ' + d.subject.packets + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>packet Rate: ' + parseFloat(d.subject.packetRate.toFixed(3)) + ' pps</td>'+
            '</tr>'+
            '<tr>'+
                '<td>byte Count: ' + d.subject.bytes + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>byte Rate: ' + parseFloat(d.subject.byteRate.toFixed(3)) + ' bps</td>'+
            '</tr>'+
            '<tr>'+
                '<td>syn packets: ' + d.subject.synPackets + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>fin packets: ' + d.subject.finPackets + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>TLS Version: ' + d.subject.tlsVersion + '</td>'+
            '</tr>'+
        '</table>'+ 
        '<table class="col-4 table table-bordered" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<th>Destination</th>'+
            '<tr>'+
                '<td>packet Count: ' + d.peer.packets + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>packet Rate: ' + parseFloat(d.peer.packetRate.toFixed(3)) + ' pps</td>'+
            '</tr>'+
            '<tr>'+
                '<td>byte Count: ' + d.peer.bytes + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>byte Rate: ' + parseFloat(d.peer.byteRate.toFixed(3)) + ' bps</td>'+
            '</tr>'+
            '<tr>'+
                '<td>syn packets: ' + d.peer.synPackets + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>fin packets: ' + d.peer.finPackets + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>TLS Version: ' + d.peer.tlsVersion + '</td>'+
            '</tr>'+
        '</table>'+ 
        '</div>'
        ;
    }
    function FlowTable(chartdata){
        var server_icon = '<i class="fas fa-server"></i>'
        var client_icon = '<i class="fas fa-laptop"></i>'
        var table = $('#FlowdataTable').DataTable({
            "data": chartdata,
            // "responsive": true, 
            "columns": [
                { data: null }, 
                { data: "subject.ipAddress" },
                { data: null, render: function ( data, type, row ) {
                    return data.subject.portProtocol.port+'/'+data.subject.portProtocol.protocol;
                }},
                { data: "peer.ipAddress" },
                { data: "peer.hostGroupname" },
                { data: null, render: function ( data, type, row ) {
                    if (data.applicationName == 'Unassigned'){
                        return data.peer.portProtocol.port+'/'+data.peer.portProtocol.protocol;
                    }else{
                        return data.peer.portProtocol.port+'/'+data.applicationName.toUpperCase();
                    }
                }},
                { data: "statistics.rttAverage" },
                { data: "statistics.tcpConnections" },
                { 
                    data: "statistics.byteRate",
                    "render": function(data, type, row, meta){
                        // console.log(parseFloat(data.toFixed(3)))
                        return parseFloat(data.toFixed(3))
                    },
                },
                { data: "statistics.lastActiveTime" },
                { data: null, render: function(data, type, row){
                    document.getElementById('modal-table').innerHTML = format(row)
                    // return '<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">more</button>'
                    return '<a data-toggle="modal" href="#exampleModalCenter">more</a>'
                    } 
                },
                // {
                //     "className": 'dt-control',
                //     "orderable": false,
                //     data: null,
                //     "defaultContent": ''
                // },
            ],
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            select: {
                style: 'os',
                selector: 'td:not(:last-child)',
            }
        });
        table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        console.log(table.rows().count());
        $('#FlowdataTable tbody').on('click', 'td.dt-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
     
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        } );
    };
    function TCPConnectionCount (chartdata) {
        var hostName = [];
        var TCPConnectionCount = [];
        var tcp_connection = [];
        if (chartdata != null) {
            tcp_connection = chartdata.sort(function(a,b){
                return b.statistics.tcpConnections - a.statistics.tcpConnections
            });
    
            tcp_connection.forEach(function(d, i) {
                if (d.statistics.tcpConnections!=0){
                    TCPConnectionCount.push(d.statistics.tcpConnections);
                    hostName.push(d.peer.ipAddress);
                }
            });
        }

        var ctx = document.getElementById("BarChart");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: hostName,
                datasets: [{
                    label: 'count',
                    data: TCPConnectionCount,
                    borderColor: "rgba(255, 201, 14, 1)",
                    backgroundColor: "rgba(129, 193, 71, 0.8)",
                    fill: false,
                }]
            },
            options: {
                legend:{
                    display: false
                },                                                                      
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'destination ip'
                        },
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            autoSkip: false,
                        },
                        scaleLabel: {
                            display: false,
                            labelString: 'count'
                        }
                    }]
                }
            }
        });
    };
    function RTTAverage (chartdata) {
        var lastActiveTime  = [];
        var rttLabels = [];
        var rttAverage = [];
        var destination_ip = [];

        if (chartdata != null) {
            chartdata.forEach(function(d, i) {
                rttLabels.push(d.time_range);
                rttAverage.push(d.rtt);
                destination_ip.push(d.destination_ip);
                lastActiveTime.push(d.lastActiveTime);
                }
            );
        }

        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: rttLabels,
            datasets: [{
                label: "RTT(ms)",
                lineTension: 0,
                backgroundColor: "rgba(78, 115, 223, 0.05)",
                borderColor: "rgba(78, 115, 223, 1)",
                data: rttAverage,
                // pointStyle: 'line',
                pointRadius: 0,
                borderWidth: 2,
                fill: false,
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
            },
            scales: {
                xAxes: [{
                    // type: 'time',
                    time: {
                        unit: 'date',
                    },
                    gridLines: {
                        display: false,
                        // drawBorder: false
                    },
                    ticks: {
                        // maxTicksLimit: 10,
                        display: false,
                        fontSize : 10,

                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
            },
            legend: {
                display: false
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 5,
                titleFontColor: "#858796",
                titleFontStyle: {weight: 'normal'},
                titleFontSize: 10,
                bodyFontColor:  '#6e707e',
                bodyFontStyle: {weight: 'bold'},
                bodyFontSize: 13,
                // titleFontColor: '#6e707e',
                // titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10,
                callbacks: {
                    title: function(tooltipItem, data){
                        if (lastActiveTime[tooltipItem[0].index] == 0){
                            return ;
                        }else{
                            return lastActiveTime[tooltipItem[0].index]+'\nDestination IP: '+destination_ip[tooltipItem[0].index];
                        }
                    },
                    label: function(tooltipItem, data){
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var currentValue = dataset.data[tooltipItem.index];
                        return 'RTT: ' + currentValue + ' ms'
                    }
                }
            }
        }
        });
    }
    function ByteRate (chartdata) {
        var lastActiveTime = [];
        var byteLabels = [];
        var ByteRate = [];
        var destination_ip = [];
        
        if (chartdata != null) {
            chartdata.forEach(function(d, i) {
                byteLabels.push(d.time_range);
                ByteRate.push(d.bps);
                destination_ip.push(d.destination_ip)
                lastActiveTime.push(d.lastActiveTime)
                }
            );
        }

        var ctx = document.getElementById("ByteChart");
        var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: byteLabels,
            datasets: [{
                label: "bps",
                lineTension: 0,
                backgroundColor: "rgba(78, 115, 223, 0.05)",
                borderColor: 'rgb(75, 192, 192)',
                data: ByteRate,
                // pointStyle: 'dash',
                pointRadius: 0,
                borderWidth: 2
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
            },
            scales: {
                xAxes: [{
                    // type: 'time',
                    time: {
                        unit: 'date',
                    },
                    gridLines: {
                        display: false,
                        // drawBorder: false
                    },
                    ticks: {
                        // maxTicksLimit: 10,
                        display: false,
                        fontSize : 10,
                        // callback: function(value, index){
                        //         return value.split(' ')[1].slice(3,8);
                        //     }
                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
            },
            legend: {
                display: false
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                titleMarginBottom: 5,
                titleFontColor: "#858796",
                titleFontStyle: {weight: 'normal'},
                titleFontSize: 10,
                bodyFontColor:  '#6e707e',
                bodyFontStyle: {weight: 'bold'},
                bodyFontSize: 13,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index', 
                caretPadding: 10,
                callbacks: {
                    title: function(tooltipItem, data){
                        if (lastActiveTime[tooltipItem[0].index] == 0){
                            return ;
                        }else{
                            return lastActiveTime[tooltipItem[0].index]+'\nDestination IP: '+destination_ip[tooltipItem[0].index];
                        }
                    },
                    label: function(tooltipItem, data){
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var currentValue = dataset.data[tooltipItem.index];
                        return 'bps: ' + parseFloat(currentValue.toFixed(3)) + ' bps'
                    }
                }
            }
        }
        });
    }
    function UDPPortCount (chartdata) {
        var udp_port = [];
        var portName = [];
        var portCount = [];
        if (chartdata != null) {
            udp_port = chartdata.sort(function(a,b){
                return b.port_count - a.port_count
            });
    
            udp_port.forEach(function(d, i) {
                portCount.push(d.port_count);
                if (d.application != 'Unassigned'){
                    portName.push(d.application)
                }else{
                    portName.push(d.port)
                };
            });
        }

        var ctx = document.getElementById("UDPBarChart");
        var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: portName,
            datasets: [{
                label: 'port count',
                data: portCount,
                borderColor: "rgba(255, 201, 14, 1)",
                backgroundColor: 'rgba(255, 99, 132)',
                fill: false,
            }]
        },
        options: {
            legend:{
                display: false
            },                                                                      
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'port'
                    },
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        autoSkip: false,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'count'
                    }
                }]
            }
        }
        });
    };
    function TCPPortCount (chartdata) {
        var portName = [];
        var portCount = [];
        var tcp_port = [];
        
        if (chartdata != null) {
            tcp_port = chartdata.sort(function(a,b){
                return b.port_count - a.port_count
            });
    
            tcp_port.forEach(function(d, i) {
                // portNum.push(d.port);
                portCount.push(d.port_count);
                if (d.application != 'Unassigned'){
                    portName.push(d.application)
                }else{
                    portName.push(d.port)
                }
            });
        }
            

        var ctx = document.getElementById("TCPBarChart");
        var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: portName,
            datasets: [{
                label: 'port count',
                data: portCount,
                borderColor: "rgba(255, 201, 14, 1)",
                backgroundColor: 'rgba(54, 162, 235)',
                fill: false,
            }]
        },
        options: {
            legend:{display: false},
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'port'
                    },
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        autoSkip: false,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'count'
                    }
                }]
            }
        }
        });
    };
</script>
{% endblock %}