{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4> <a href="{% url 'hostgroup_list' %}">{{hostgroup_detail.parentDisplay.name}}</a> > 
            <a href="{% url 'hostgroup_detail' id=hostgroup_detail.id %}">{{hostgroup_detail.name}}</a> > 
            <a href="#">{{host_ip}}</a> 
        </h4>
    </div>
    <div class="card-deck">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">호스트 정보</h6>
            </div>
            <div class="card-body">
                <p>IP: {{host_ip}}</p>
                <p>호스트 그룹: {{hostgroup_detail.name}} </p>
                <p>정책: {{hostgroup_detail.location}}</p>
                <p>Mac 주소: -- </p>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">UDP port count (last 5 min)
                    
                </h6>
            </div>
            <div class="card-body">
                <canvas id="UDPBarChart"></canvas>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">TCP port count (last 5 min)
                </h6>
            </div>
            <div class="card-body">
                <canvas id="TCPBarChart"></canvas>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Flow List (last 5 min)</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table compact stripe text-nowrap hover" id="FlowdataTable2" width="100%">
                            <thead>
                                <tr>
                                    <th class="col-1">#</th>
                                    <th>Application</th>
                                    <!-- <th>source Role</th> -->
                                    <th>source ip</th>
                                    <!-- <th>source hostgroup</th> -->
                                    <!-- <th>destination Role</th> -->
                                    <th>destination IP</th>
                                    <th>destination domain name</th>
                                    <th>flow counts</th>
                                    <th>bytes</th>
                                    <th>packets</th>
                                    <th>TCP connections</th>
                                    <th>traffic Rate Max</th>
                                    <th>traffic Rate Avg</th>
                                    <th>source domain name</th>
                                    <th>destination host group</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-loading display-none">
        <img src="{% static 'image/loading.gif' %}" alt="loading" />
    </div> 
</div>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script>
    var current_url = "{% url 'application_host_detail_data' id=hostgroup_detail.id ip=host_ip%}"
    console.log(current_url)
    $.ajax({
        url: "{% url 'application_host_detail_data' id=hostgroup_detail.id ip=host_ip%}",
        method: "GET",
        dataType: "json",
        beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        },
        complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
     })
    .done(function(data) {
        console.log(data)
        UDPPortCount(data.udp_list);
        TCPPortCount(data.tcp_list);
        FlowTable2(data.conversations_flow_results.results)
    })
    .fail(function() {
        alert( "error" );
    });

    function UDPPortCount (chartdata) {
        var udp_port = [];
        var portName = [];
        var portCount = [];
        if (chartdata != null) {
            udp_port = chartdata.sort(function(a,b){
                return b.port_count - a.port_count
            });
    
            udp_port.forEach(function(d, i) {
                portCount.push(d.port_count);
                if (d.applicationName != 'Unassigned'){
                    portName.push(d.applicationName)
                }else{
                    portName.push(d.port)
                };
            });
        }

        var ctx = document.getElementById("UDPBarChart");
        var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: portName,
            datasets: [{
                label: 'port count',
                data: portCount,
                borderColor: "rgba(255, 201, 14, 1)",
                backgroundColor: 'rgba(255, 99, 132)',
                fill: false,
            }]
        },
        options: {
            legend:{
                display: false
            },                                                                      
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'port'
                    },
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        autoSkip: false,
                        beginAtZero: true,

                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'count'
                    }
                }]
            }
        }
        });
    };
    function TCPPortCount (chartdata) {
        var portName = [];
        var portCount = [];
        var tcp_port = [];
        
        if (chartdata != null) {
            tcp_port = chartdata.sort(function(a,b){
                return b.port_count - a.port_count
            });
    
            tcp_port.forEach(function(d, i) {
                portCount.push(d.port_count);
                if (d.applicationName != 'Unassigned'){
                    portName.push(d.applicationName)
                }else{
                    portName.push(d.port)
                }
            });
        }
            
        var ctx = document.getElementById("TCPBarChart");
        var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: portName,
            datasets: [{
                label: 'port count',
                data: portCount,
                borderColor: "rgba(255, 201, 14, 1)",
                backgroundColor: 'rgba(54, 162, 235)',
                fill: false,
            }]
        },
        options: {
            legend:{display: false},
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                        labelString: 'port'
                    },
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        autoSkip: false,
                        beginAtZero: true,

                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'count'
                    }
                }]
            }
        }
        });
    };
    function FlowTable2(chartdata){
        var current_url = "{% url 'hostgroup_detail' id=hostgroup_detail.id %}"
        var server_icon = '<i class="fas fa-server"></i>'
        var client_icon = '<i class="fas fa-laptop"></i>'
        var table = $('#FlowdataTable2').DataTable({
            "data": chartdata,
            "responsive": true, 
            "columns": [
                { data: null }, 
                { data: null, render: function ( data, type, row ) {
                    if (data.portProtocol.hasOwnProperty("service")){
                        if (data.portProtocol.service.hasOwnProperty("name")){
                            return data.portProtocol.port+'/'+data.portProtocol.service.name.toUpperCase();
                        }else{
                            return data.portProtocol.port+'/'+data.portProtocol.protocol;
                        }
                    }else{
                        return data.portProtocol.port+'/'+data.portProtocol.protocol;
                    }
                }},
                // { 
                //     data: "hostRole",
                //     "render": function (data, type, row, meta){
                //         if (data == "SERVER"){
                //             return server_icon + ' ' + data
                //         }else{
                //             return client_icon + ' '+ data
                //         }
                //     }
                // },
                { data: "host.ipAddress" },
                // { data: "host.hostGroupname" },
                // { 
                //     data: "peerRole",
                //     "render": function (data, type, row, meta){
                //         if (data == "SERVER"){
                //             return server_icon + ' ' + data
                //         }else{
                //             return client_icon + ' '+ data
                //         }
                //     }
                // },
                { data: "peer.ipAddress" },
                { data: null, render: function ( data, type, row ) {
                    if (data.peer.hasOwnProperty("name")){
                        return data.peer.name +' (' + data.peer.ipAddress + ')';
                    }else{
                        return '';
                    }
                }},
                { data: "flows" },
                { data: "bytes" },
                { data: "packets" },
                { data: "connections" },
                { data: "trafficRateMax" },
                { data: "trafficRateAvg" },
                { data: null, render: function ( data, type, row ) {
                    if (data.host.hasOwnProperty("name")){
                        return data.host.name +' (' + data.host.ipAddress + ')';
                    }else{
                        return '';
                    }
                }},
                { data: "peer.hostGroupname" },

            ],
            "columnDefs": [{
            "searchable": false,
            "orderable": false,
            "targets": 0
            }],
        });
        table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
    };
</script>
{% endblock %}