{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4> Host List </h4>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" id="protocol"></h6>
                </div>
                <div class="card-body">
                    <div style="position:relative; height:250px;">
                        <canvas id="BarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Host List (last 5 min)</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <h4 id="HostlistLength"></h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-sm text-nowrap" id="FlowdataTable" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Application</th>
                                    <th>target Protocol</th>
                                    <th>target Port</th>
                                    <th>target IP</th>
                                    <th>target host group</th>
                                    <th>source IP</th>
                                    <th>source host group</th>
                                    <th>source Port/Protocol</th>
                                    <th>start time</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-loading display-none">
        <img src="{% static 'image/loading.gif' %}" alt="loading" />
    </div> 
</div>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/palette.js' %}"></script>
<script>
    
    function searchParam(key) {
        return new URLSearchParams(location.search).get(key);
    };
    console.log(searchParam('protocol'));
    var id = searchParam('id')

    console.log(searchParam('hostgroup'));
    if (searchParam('hostgroup') == 0){
            var select_url = "{% url 'hostgroup_detail_data' hostgroup=0 id=hostgroup_detail.id %}"
        } else {
            var select_url = "{% url 'hostgroup_detail_data' hostgroup=1 id=hostgroup_detail.id %}"
        }
    console.log(select_url)

    if(searchParam('protocol') == 'udp'){
            var chart_color = 'rgba(255, 99, 132)';
            document.getElementById('protocol').innerHTML = 'UDP port count (last 5 min)';
            
        }else{
            var chart_color = 'rgba(54, 162, 235)';
            document.getElementById('protocol').innerHTML = 'TCP port count (last 5 min)';
        }

    $.ajax({
        url: select_url,
        method: "GET",
        dataType: "json",
        beforeSend:function(){
            $('.wrap-loading').removeClass('display-none');
        },
        complete:function(){
            $('.wrap-loading').addClass('display-none');
        }
     })
    .done(function(data) {
        if(searchParam('protocol')=='udp'){
            PortCountChart(data.udp_list);
            var flow_list = []
            data.results.forEach(function(d, i) {
                if (d.peer.portProtocol.protocol == 'UDP'){
                    flow_list.push(d)
                }
            });
            FlowTable(flow_list);
        }else{
            PortCountChart(data.tcp_list);
            var flow_list = []
            data.results.forEach(function(d, i) {
                if (d.peer.portProtocol.protocol == 'TCP'){
                    flow_list.push(d)
                }
            });
            FlowTable(flow_list);
        }
    })
    .fail(function(request,status,error) {
        // alert(error);
        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
        location.reload();
    });

    // var FlowTable = function () {

    // };
    // FlowTable.sf.af
    // h
    function FlowTable(chartdata){
        var table = $('#FlowdataTable').DataTable({
            "data": chartdata,
            "responsive": true, 
            "columns": [
                { data: null }, 
                { data: "applicationName" },
                { data: "peer.portProtocol.protocol" },
                { data: "peer.portProtocol.port" },
                { data: "peer.ipAddress" },
                { data: "peer.hostGroupname" },
                { data: "subject.ipAddress" },
                { data: "subject.hostGroupname" },
                // {
                //     data: "subject.ipAddress",
                //     "render": function (data, type, row, meta) {
                //         if (type === 'display') {
                //             data = '<a href="/hostgroups/hostgroupdetail/' + row.subject.hostGroupIds + '/hostdetail/' + row.subject.ipAddress  + '">' + row.subject.ipAddress + '</a>';
                //         }
                //         return data;
                //     }
                // },
                // {
                //     data: "subject.hostGroupname",
                //     "render": function (data, type, row, meta) {
                //         if (type === 'display') {
                //             data = '<a href="/hostgroups/hostgroupdetail/' + row.subject.hostGroupIds + '">' + row.subject.hostGroupname + '</a>';
                //         }
                //         return data;
                //     }
                // },
                { data: null, render: function ( data, type, row ) {
                    return data.subject.portProtocol.port+'/'+data.subject.portProtocol.protocol;
                }},
                { data: "statistics.firstActiveTime" },
            ],
            "columnDefs": [{
            "searchable": false,
            "orderable": false,
            "targets": 0
            }],
        });
        table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        console.log(table.rows().count());
    };

    function PortCountChart (chartdata) {
        var portName = [];
        var portCount = [];
        var udp_port = [];

        udp_port = chartdata.sort(function(a,b){
            return b.count - a.count
        });

        udp_port.forEach(function(d, i) {
            if (d.application != 'Unassigned'){
                portName.push(d.application)
            }else{
                portName.push(d.port)
            };
            portCount.push(d.count);
            }
        );

        // console.log(udp_port)

        var ctx = document.getElementById("BarChart");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: portName,
                datasets: [{
                    label: 'port count',
                    data: portCount,
                    borderColor: "rgba(255, 201, 14, 1)",
                    backgroundColor: chart_color,
                    fill: false,
                }]
            },
            options: {
                legend:{
                    display: false
                },                                                                      
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 1,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'port'
                        },
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            autoSkip: false,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'count'
                        }
                    }]
                }
            }
        });
    };
</script>
{% endblock %}