{% extends "base.html" %}

{% block content %} 
<div class="container-fluid">
    <div class="card">
        <h3 class="card-header">비밀번호 수정</h3>
        <article class="card-body">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }} 
                <button type="submit" class="btn btn-success btn-sm">수정</button>
                <input type="button" class="btn btn-secondary btn-sm" value="취소" onClick="javascript:history.go(-1);">
            </form>
        </article>
    </div>
</div>
{% endblock %}